body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    padding: 15px;
}

.homepage-header {
    background-color: white;
    padding: 5px;
}

h2 {
    font-weight: bold;
    text-align: center;
}

.data-pages {
    color: black;
}

.body-section {
    padding: 15px;
}

.home-subject {
    background: white;
    border: solid 2px none;
    padding: 30px;
}

.img {
    vertical-align: middle;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: none;
    max-width: 100%;
    height: auto;
}

a {
    color: black;
}

.nav-images {
    padding: 0px;
}

.home-page-content-header {
    padding: 20px;
}

p {
    padding: 10px;
}

.ind-img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

h3 {
    text-align: center;
    font-size: 25px;
}